/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

/* .has-bg-img {
    background: url('/assets/images/concert-hand.png')center center;
    background-size: cover;
}

* */

.img {
    width: 275px;
}

/*hero style start*/
.hero-body {
    background-image: url("../ShowGo/assets/images/concerthandwithbubble.png");
    height: 1000px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.hero-body2 {
    background-image: url("../ShowGo/assets/images/concert-hand.png");
    height: 1500px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.background2 {
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
}

#dancing-text {
    margin-left: 50px;
    padding-top: 70px;
    padding-bottom: 0%;
    display: inline;

}

#show-text {
    margin-left: 85px;
    padding-bottom: 30px;
    display: inline;
}

.textcolor {
    color: white;
    opacity: 1;
}

.find-username {
    font-size: 80px;
    -webkit-text-stroke: 2px #F7E5A3;
    /* width and color */
    color: white;
}

@media (min-width: 150px) and (max-width: 655px) {


    .background {
        background-color: #F7E5A3;
        opacity: 1;
        text-align: center;
        border-radius: 25px;
        height: 310px;
        width: auto;
        padding: 0%;
    }

    .background2 {
        height: 300px;
        width: auto;
    }

    .find-username {
        font-size: 25px;
    }

    #dancing-text {
        justify-content: center;
        padding: 0%;
        margin-left: 0%;
    }

    #show-text {
        justify-content: center;
        margin-left: 0%;
        padding-bottom: 0%;
    }

    #intro-section-2 {
        padding-right: 60px;
    }

    #time-of-event {
        align-content: center;
    }

    .img {
        width: 200px;
    }
}

.footer {
    height: 50vh;
}