/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

/* .has-bg-img {
    background: url('/assets/images/concert-hand.png')center center;
    background-size: cover;
}

* */