@media screen and (max-width: 913px){
  .sub-head{
    margin-left: 30%;
  }

  .hero-img{
    
    padding: 30vh 0 0 3vw;
  }

  .hero-img > * {
    text-align: left; 
    position: static;
  }

  .more-dancing{
    margin-bottom: 1vh;
  }

  .sub-head{
    margin: 0 40% 0 0;
  }
}


@media screen and (max-width: 425px){
  .hero-img{
    padding-left: 4%;
  }
  .less-searching{
    font-size: 40px;
  }
  .more-dancing{
    font-size: 30px;
  }
  .sub-head{
    font-size: 17;
    margin-right: 20%;
  }
}