/* 890px */

@media (min-width: 150px) and (max-width: 655px) {
    .background {
      background-color: var(--secondary-color);
      opacity: 1;
      text-align: center;
      border-radius: 25px;
      height: 310px;
      width: auto;
      padding: 0%;
    }
  
    .background2 {
      height: 300px;
      width: auto;
    }
  
    .find-username {
      font-size: 25px;
    }
  
    #dancing-text {
      justify-content: center;
      padding: 0%;
      margin-left: 0%;
    }
  
    #show-text {
      justify-content: center;
      margin-left: 0%;
      padding-bottom: 0%;
    }
  
    #intro-section-2 {
      padding-right: 60px;
    }
  
    #time-of-event {
      align-content: center;
    }
  
    .img {
      width: 60%;
    }
  }