:root {
  --primary-color: #F5953F;
  --secondary-color: #ED1E86;
  --tertiary-color: white;
}
  
body{
  overflow-x: hidden;
}

ul, li{
  list-style:disc;
}

input{

}

.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 200px;    
}

.card {
  transition: all 0.5s ease-in-out;
  margin-bottom: 4px;
}

.card-img {
  width: 160px;
}

.card:hover {
  transform: scale(1.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

/*hero style start*/
.hero-img {
  background-image: url("../images/vecteezy_pink-yellow-and-blue-fluid-gradient-background_7718444.jpg");
  height: 91vh;
  background-size: cover;
  background-position: left;
  position: relative;
}

.headline{
  color: white;
  text-align: end;
  position: relative;
  right: 7vw;
  top: 26vh;
}

.less-searching{
  font-size: 50px;
  font-weight:600;
}

.more-dancing{
  font-size: xx-large;
}
/* hero style end */

/* find your event start */
.head-text-white{
  font-size: xx-large;
  color: white;
  display: flex;
  justify-content: center;
}


.section-gradient{
  background: linear-gradient(180deg, rgba(13,19,33,1) 50%, rgba(37,54,82,1) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-style{
  padding: 15vh 0;
}

.input-style{
  width: 25vw;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  min-width: 250px;
}

.input:focus {
  border: 2px solid var(--secondary-color);
}

#submit-button{
  position: relative;
  left: 22%;
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-radius: 20px;
}

.error-text{
  color: white;
  max-width: 280px;
  text-align: center;
}



#loader {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

#submit-button {
  color: var(--primary-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
  transition: all 0.3s ease-in-out 0s;
}

#submit-button:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  opacity: 0.7;
  transform: scale(1.1);
}

.footer {
  height: 50vh;
}