:root {
  --primary-color: #d809d1;
  --secondary-color: #f7e5a3;
  --third-color: white;
}

.card-img {
  width: 160px;
}
.username-image {
  width: auto;
  border-radius: 10px;
}

.navbar-item:hover {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  opacity: 0.7;
}

ul, li{
  list-style:disc;
}

.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 200px;    
}

.card {
  transition: all 0.5s ease-in-out;
  margin-bottom: 4px;
}

.card:hover {
  transform: scale(1.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

/*hero style start*/
.hero-img {
  background-image: url("../images/vecteezy_pink-yellow-and-blue-fluid-gradient-background_7718444.jpg");
  height: 91vh;
  background-size: cover;
  background-position: left;
  position: relative;
}

.hero-body2 {
  background-image: url("../show-go/assets/images/concert-hand.png");
  height: 1500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.background2 {
  background-color: black;
  opacity: 0.8;
  border-radius: 25px;
}

#dancing-text {
  margin-left: 50px;
  padding-top: 70px;
  padding-bottom: 0%;
  display: inline;
}

#show-text {
  margin-left: 85px;
  padding-bottom: 30px;
  display: inline;
}

.textcolor {
  color: var(--third-color);
  opacity: 1;
}

.find-username {
  font-size: 80px;
  -webkit-text-stroke: 2px var(--secondary-color);
  /* width and color */
  color: var(--third-color);
  transition: all 0.3s ease-in-out;
}
.find-username:hover {
  opacity: 0.7;
}

#loader {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.input:focus {
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
}
#submit-button {
  color: var(--primary-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
  transition: all 0.3s ease-in-out 0s;
}
#submit-button:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
  opacity: 0.7;
  transform: scale(1.1);
}

.sample-username{
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  min-width: 240px;
}

.footer {
  height: 50vh;
}